MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/erostar_vfd?retryWrites=true&w=majority&appName=ErostarVFD&tls=true
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
PORT=5000
NODE_ENV=development
